<section class="header_container">

    <header>
        <!-- <img src="imgs/logo.png"> -->

        <nav>
            <ul id="MobileMenu">
                <!-- <li class="link_Atc"><a routerLink="/">Home</a></li> -->
                <li><a (click)="SigNupClient()" >Inscrever-se</a></li>
                <li><a (click)="forgotPasswordAction()" >esqueceu a senha</a></li>
            </ul>
        </nav>
        <i id="mobile" class=" fa-solid fa-bars"></i>
    </header>


</section><!--header_container-->
